@use '../../styles/commons' as *;

.Container {
  width: 100%;
  cursor: pointer;
  display: block;
  text-decoration: none;

  @extend %card_shadow;

  @media screen and (min-width: 769px) {
    &:hover {
      box-shadow: rgb(0 0 0 / 10%) 0px 4px 20px 6px,
        rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    }
  }

  .Image {
    width: 100%;
    height: auto;
    & > * {
      width: 100%;
    }
  }

  .TextGroup {
    padding: 1rem;

    .Title {
      text-align: center;
      font-size: 1.375rem;
    }

    .ShortDescription {
      margin-top: 1rem;
      font-size: 0.8rem;
      text-align: justify;
    }

    .CreateTime {
      margin-top: 0.5rem;
      @extend %italic_text;
    }
  }
}
