@use '../../styles/variables' as *;
@use '../../styles/commons' as *;

.HighlightArticle {
  position: relative;

  .Banner {
    z-index: -1;
  }

  .HighlightItem {
    @extend %position_absolute_center;

    padding: 2rem 1rem;
    background-color: #fff;

    @media screen and (min-width: 550px) {
      padding: 3rem 2rem;
    }

    &Categories {
      @extend %flex_center;

      & > * {
        @extend %text_with_border;
        margin-right: 0.5rem;
        font-size: 0.8em;

        @media screen and (min-width: 550px) {
          margin-right: 1rem;
          font-size: 1em;
        }
      }
    }

    &Title {
      @extend %more_space_text;
      @extend %outer_link_text;
      padding: 1rem 0 0.2rem;

      font-size: 0.8em;

      @media screen and (min-width: 550px) {
        font-size: 1em;
      }
    }

    &CreateTime {
      @extend %italic_text;
    }

    &Discover {
      @extend %uppercase_text;
      @extend %base_button;

      margin: 0.3rem auto 0;
      font-size: 0.7em;

      @media screen and (min-width: 550px) {
        padding: 0.5rem 1rem;
        margin: 1rem auto 0;
        font-size: 1em;
      }
    }
  }
}
