$primary_color: #ffdac7;
$secondary_color: #ece2e1;

$blue_color: #aee1e1;
$gray_color: #d3e0dc;
$red_color: #ff5c58;
$peach_color: #fe8f8f;
$true_black_color: #000000;
$white_color: #ffffff;

$text_color: #424242;
$gray_border_color: #0000001a;

$text_hover_cover: #8c8c8c;
$red_hover_color: #ff9b99;

$playfair_font: 'Playfair Display', serif;

$slight_border: 1px solid $gray_border_color;
